<nav class="navbar navbar-default" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2"><a ui-sref="main" class="home-logo"></a></div>
      <div class="col-sm-3 nav-title">Mon réseau poumon</div>
      <div class="col-sm-7 text-center nav-menu">
        <span ng-if="!$state.is('main')">
          <a class="selected"><span>S'informer</span></a>
          <a><span>Partager</span></a>
          <a><span>S'unir</span></a>
        </span>
        <span ng-if="$state.is('main')">
          <a> Se Connecter</a>
          <a> Créer un compte</a>
        </span>
      </div>
    </div>
  </div>
</nav>
