// bower:scss
// endbower

body {
  padding: 0;
  background-color: #52C6B3;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.navbar {
  position: relative;
  margin-bottom: 0;
  border-radius: 0;
  height: 100px;
  border-bottom: 10px solid #268774;
  line-height: 90px;
  .nav-menu {
	  a {
			color: rgb(82, 198, 179);
			text-transform: uppercase;
			border: solid 2px rgb(82, 198, 179);
			padding: 15px;
			cursor: pointer;
			margin-right: 50px; 
			span {
				display:inline-block; 
				width:140px; 
			}
	  }
	  a.selected, a:hover {
			color: white;
			background: rgb(82, 198, 179);
	  }
  }
}

.home-logo{
	background:url("../resources/logo.png"); 
	width: 80px;
    height: 80px;
    background-size: cover;
    display: block; 
}

.nav-title {
	color:rgb(82, 198, 179); 
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5em;
	
}

.hero {
  height: calc(80vh - 100px);
  background-color: #fff;
}

.menu {
  height: 20vh;
  button {
    border-style: solid;
    border-width: 8px;
    border-color: #fff;
    background-color: transparent;
    text-transform: uppercase;
    height: 15vh;
    min-width: 300px;
    color: #fff;
    font-size: 3em;
    outline:none;
  }
}

h1 {
  color: #52C6B3;
  font-size: 5em;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
