// bower:scss
// endbower

body {
  padding: 0;
  background-color: #52C6B3;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.navbar {
  position: relative;
  margin-bottom: 10px;
  border-radius: 0;
  height: 100px;
  border-bottom: 10px solid #268774;
  line-height: 90px;
  button {
    height: auto;
  }
}

.hero {
  height: calc(80vh - 52px);
  background-color: #fff;
}

.menu {
  height: 20vh;
  button {
    border-style: solid;
    border-width: 8px;
    border-color: #fff;
    background-color: transparent;
    text-transform: uppercase;
    height: 15vh;
    min-width: 300px;
    color: #fff;
    font-size: 3em;
    outline:none;
  }
}

h1 {
  color: #52C6B3;
  font-size: 5em;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
