<section class="hero">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <img src="images/hero.jpg">
      </div>
      <div class="col-sm4">
        <h1>S'unir pour agir Account le cancer du poumon.</h1>
      </div>
    </div>
  </div>
</section>
<section class="menu">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 text-center">
        <button>S'informer</button>
      </div>
      <div class="col-sm-4 text-center">
        <button>Partager</button>
      </div>
      <div class="col-sm-4 text-center">
        <button>S'unir</button>
      </div>
    </div>
  </div>
</section>
<section class="information">
  <div class="container-fluid">
    <div class="row">

    </div>
  </div>
</section>
<section class="share">
  <div class="container-fluid">
    <div class="row"></div>
  </div>
</section>
<section class="unite">
  <div class="container-fluid">
    <div class="row"></div>
  </div>
</section>
