<section class="bureau">
	 <div class="container-fluid">
		<div class="row">
			<h1>Accueil > Bureau Virtuel</h1>	
		</div>
		
		<div  class="row" style="">
		<div class="content1">
			<div>Découvrez le Bureau virtuel et ses fonctionnalités</div>
			<img src="../images/bureau_virtuel_video.jpg" style="margin-bottom:100px"/>
			<img src="../images/bureau_virtuel_calendrier.jpg" class="content1"/>
			<div style="    margin-top: 30px;    text-align: center;margin-bottom: 50px;">
			<a class="remon_btn_inverse"><span>Organisez votre relai Local</span></a>
			<a class="remon_btn_inverse"><span>Contribuez à l'association 2.0</span></a>
			</div>
		</div>
		</div>
		
	</div>
	

 
</section>
