<section id="signIn">
	<div class="col-lg-push-1 col-lg-10">
		<div class="col-lg-4 text-center">
        	<img class="re-mon-image img-circle" src="images/patient-bleu.png" ng-click='setType("Patient")'>
        	<div>
	        	Patient
        	</div>
        </div>
		<div class="col-lg-4 text-center">
        	<img class="re-mon-image-neg img-circle" src="images/picto_entourage_blc.png" ng-click='setType("Entourage")'>
        	<div>
	        	Entourage
        	</div>
        </div>
		<div class="col-lg-4 text-center">
        	<img class="re-mon-image-neg img-circle" src="images/pro-sante.png" ng-click='setType("Professionel")'>
        	<div>
	        	Professionel de santé
        	</div>
        </div>
	</div>
</section>