<section class="info">
	 <div class="container-fluid">
		<div class="row">
			<h1>Informations</h1>	
		</div>
		<div  class="row">
			<div class="col-sm-2">
				<div class="info-menu">
					<div class="info-logo"></div>
					<h2>Patient</h2>
					<ul>
						<li class="selected"><h3><a>Ma maladie</a></h3></li>
						<li><h3><a>Mon traitement</a></h3></li>
						<li><h3><a>Mon bien-être</h3></a></li>
						<li><h3><a>Mes droits</h3></a></li>
					</ul>	
				</div>
			</div>
			<div class="col-sm-10 content">
				<h3><span>Le cancer pulmonaire</span></h3>
				<h4>Points clés</h4>

<p>Le cancer du poumon ou cancer bronchique se développe le plus souvent à partir des cellules des bronches. On distingue deux grands types de cancers bronchiques : les cancers bronchiques non à petites cellules et les cancers bronchiques à petites cellules. Ils représentent respectivement environ 80 % et 20 % des cancers.
</p><p>
Trois types de traitements sont utilisés dans la prise en charge des cancers bronchiques : la chirurgie, la radiothérapie et des traitements médicaux (chimiothérapie et thérapies ciblées).
</p><p>
Le choix des traitements est adapté à votre situation. Plusieurs médecins de spécialités différentes se réunissent pour discuter des solutions de traitements possibles dans votre cas. Ils se basent pour cela sur des recommandations de bonne pratique. Ils peuvent également vous proposer de participer à un essai clinique.
</p><p>
Pour les cancers bronchiques non à petites cellules, la chirurgie constitue le traitement de référence lorsque le stade du cancer, c’est-à-dire son degré d’extension, et votre état de santé général le permettent.
</p><p>
Pour les cancers bronchiques à petites cellules, la chimiothérapie associée ou non, selon le stade, à une radiothérapie constitue le traitement de référence.
</p><p>
L’équipe qui vous prend en charge comprend des professionnels de différentes spécialités : pneumologue, oncologue médical, chirurgien, oncologue radiothérapeute, pathologiste, psychiatre et psychologue, spécialiste de la douleur, infirmier, kinésithérapeute, aide-soignant, diététicien, assistant social… Ces professionnels travaillent en collaboration au sein de l’établissement de santé dans lequel vous recevez vos traitements et en lien avec votre médecin traitant.
</p><p>
Les traitements peuvent engendrer des effets secondaires qui font également l’objet d’une prise en charge médicale. Des conseils pratiques peuvent aussi vous aider à les atténuer.
</p><p>
La prise en charge du cancer est globale et comprend tous les soins et soutiens dont vous pourriez avoir besoin dès le diagnostic, pendant et après les traitements : soutien psychologique, accompagnement social, prise en charge de la douleur, etc.
</p>

<h4>Centres de soins près de chez moi</h4>

<p>Sélectionnez votre région en cliquant sur la carte :</p>
				
				
				<div class="carte-france"></div>
			</div>
		</div>
	</div>
	
	
	
	</div>
 
</section>
