<section id="hero">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-7">
        <img src="images/hero.jpg">
      </div>
      <div class="col-sm-5 hero_title">
        <h1>S'unir pour agir contre le cancer du poumon</h1>
      </div>
    </div>
  </div>
</section>
<section id="menu">
  <div class="v-align">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 text-center">
          <button class="remon_btn remon_btn_default category" href="#information" du-smooth-scroll>S'informer</button>
        </div>
        <div class="col-sm-4 text-center">
          <button class="remon_btn remon_btn_default category" href="#share" du-smooth-scroll>Partager</button>
        </div>
        <div class="col-sm-4 text-center">
          <button class="remon_btn remon_btn_default category" href="#unite" du-smooth-scroll>S'unir</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="information">
  <div class="container">
    <div class="row">
      <h2 class="category">Informations</h2>
      <div class="container">
          <div class="col-lg-6 text-left" style="color: white;">
            <h2 class="category">PATIENTS</h2>
            <h3><i>Ma maladie</i></h3>
            <h3><i>Mon traitement</i></h3>
            <h3><i>Mes droits</i></h3>
          </div>
          <div class="col-lg-6 text-right" style="color: white;">
            <h2 class="category">ENTOURAGE</h2>
            <h3><i>Comprendre</i></h3>
            <h3><i>Soutenir</i></h3>
            <h3><i>Prévenir</i></h3>
          </div>
        </div>
    </div>
  </div>
</section>
<section id="share">
  <div class="container">
    <div class="row">
      <h2 class="category">Partager</h2>
      <div class="container">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid architecto eveniet illo libero, nam
        tempore! Ad animi consectetur consequatur dolore, esse itaque nobis odio perferendis placeat rem sapiente,
        voluptates.
      </div>
    </div>
  </div>
</section>
<section id="unite">
  <div class="container">
    <div class="row">
      <h2 class="category">S'unir</h2>
      <div class="container">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid architecto eveniet illo libero, nam
        tempore! Ad animi consectetur consequatur dolore, esse itaque nobis odio perferendis placeat rem sapiente,
        voluptates.
      </div>
    </div>
  </div>
</section>
