<section id="hero">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <img src="images/hero.jpg">
      </div>
      <div class="col-sm-4">
        <h1>S'unir pour agir contre le cancer du poumon.</h1>
      </div>
    </div>
  </div>
</section>
<section id="menu">
  <div class="v-align">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 text-center">
          <button class="remon_btn remon_btn_default" href="#information" du-smooth-scroll>S'informer</button>
        </div>
        <div class="col-sm-4 text-center">
          <button class="remon_btn remon_btn_default" href="#share" du-smooth-scroll>Partager</button>
        </div>
        <div class="col-sm-4 text-center">
          <button class="remon_btn remon_btn_default" href="#unite" du-smooth-scroll>S'unire</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="information">
  <div class="container-fluid">
    <div class="row">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias blanditiis cumque ducimus, enim eveniet, ipsa laboriosam laudantium libero odit quasi ratione, reiciendis rem repudiandae sapiente voluptates voluptatum! Id, suscipit.
    </div>
  </div>
</section>
<section id="share">
  <div class="container-fluid">
    <div class="row"></div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, enim vero. Accusantium atque culpa deserunt dicta eius error est exercitationem impedit, ipsa, itaque non omnis repellendus, reprehenderit voluptas voluptate? Corporis.
  </div>
</section>
<section id="unite">
  <div class="container-fluid">
    <div class="row"></div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus deleniti dignissimos illum, impedit officia quo sequi vel! Expedita explicabo fuga harum, ipsum molestias odit praesentium saepe, soluta tenetur voluptate voluptatibus!
  </div>
</section>
