<ng-include src="'views/includes/navbar2.html'"></ng-include>
<section class="parrain">
	 <div class="container-fluid">
		<div class="row">
			<h1>Accueil > parrainage</h1>	
			<div>Contactez un parrain ou une marraine !</div>
			<div style="margin-bottom:50px;"><input placeholder="Ville"/><i class="fa fa-angle-down form-ok" onclick="$('#imgs').css('display','block')"></i></div>
			<div id="imgs">
			<img src="../images/Parrains.png">
			<img src="../images/Parrains2.png">
			<img src="../images/Parrains3.png">
			</div>
		</div>
		
</section>
