<section id="signIn" ng-app="remonApp">
  <div class="container-fluid">
    <div class="col-lg-push-1 col-lg-11 re-mon-title">Création de profil</div>
    <div class="col-lg-push-1 col-lg-5">
      <div class="col-lg-7">
        <img class="re-mon-image img-circle" src="images/patient-bleu.png">
        <div class="row text-center">{{userType}}</div>
      </div>
    </div>
    <div class="col-lg-push-1 col-lg-4">
      <div class="form-group">
        <input class="col-lg-12 re-mon-inpt" placeholder="NOM" type="text"></input>
        <input class="col-lg-12 re-mon-inpt" placeholder="PRENOM" type="text"></input>
        <input class="col-lg-12 re-mon-inpt" placeholder="DATE DE NAISSANCE" type="text"></input>
        <input class="col-lg-push-9 col-lg-3 re-mon-inpt" placeholder="SEXE" type="text"></input>
      </div>
    </div>
    <div class="col-lg-push-1 col-lg-11">
      <div class="form-group">
        <div class="row">
          <input class="col-lg-5 re-mon-inpt" placeholder="Pseudonyme" type="text"></input>
        </div>
        <div class="row">
          <input class="col-lg-5 re-mon-inpt" placeholder="Addresse E-MAIL" type="text"></input>
        </div>
        <div class="row">
          <input class="col-lg-5 re-mon-inpt" placeholder="MOT DE PASSE" type="text"></input>
          <input class="col-lg-push-2 col-lg-3 re-mon-save-btn" type="button" value="ENREGISTRER >"></input>
        </div>
      </div>
    </div>
  </div>
</section>


